.section--comments {
	display: flex;
	flex-direction: column;
	width: 100%;

	input:not([type=submit]), textarea {
		border: 1px solid #ccc !important;
	}
	input[type=submit]#submit {
		width: auto;
    min-width: 0;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: bold;
	}
	.must-log-in {
		// @include font(25px);

		a {
			color: #5DCCB2;
			text-decoration: underline !important;

			&:hover {
				color: theme-color('primary');
			}
		}
	}
	
	.logged-in-as, .logged-in-as a, #cancel-comment-reply-link, .comment-reply-link {
		font-size: small;
		font-style: italic;
		color: gray;
	}

	.comment-respond {		
		// order: 1;                               

		textarea {
			width: 100%;
			// @include radius(4px);
			border: 1px solid #CCCCCC;
		}

		.btn--classic {
			cursor: pointer;
			border: 0;
			@include media-breakpoint-up(md) {
				min-width: 220px;
			}
		}
	}

	.comment-body {
		padding-left: 25px;
	}
	.comment-list {
		// order: 2;
		padding-top: 25px;
		
		> ul > li {
			margin-bottom: 3rem;
			padding-bottom: 3rem;
		}
		
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			
			p {
				word-break: break-all;
				hyphens: auto;
				font-size: 1rem !important;
			}

			li {              

				&:not(:last-child) {
					border-bottom: 1px solid #E0E3E8;
				}

				.children {
					// margin: 4rem 0 4rem 4rem;    
					margin-top: 4rem;
					margin-left: 4rem;            

					li {
						
						.comment-body {
							border-bottom: 0;
							padding: 2rem;
							position: relative;
							background: #E0E3E8;

							&:before {								
								display: block;
								content: '';
								position: absolute;
								top: 0; left: -40px;
								display: inline-block;
								margin-left: .255em;
								vertical-align: .255em;
								border-top: 40px solid #E0E3E8;
								border-right: 40px solid transparent;
								border-bottom: 0;
								border-left: 40px solid transparent;
							}

						}
					}
				}
			}
		}
	}
}