@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( #{ nth( $spriteVals, 6 ) } );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
$spritesPath: '../images/sprites';
$spritesURL: $spritesPath + '.png';
$spritesx2URL: $spritesPath + '@2.png';
$bgiSizeW: 251px;
$bgiSizeH: 107px;
$slider-up: 42px 42px $spritesURL -107px -54px $spritesx2URL;
$slider-right: 42px 42px $spritesURL -57px -54px $spritesx2URL;
$slider-left: 42px 42px $spritesURL -10px -54px $spritesx2URL;
$fa-phone: 36px 36px $spritesURL -170px -6px $spritesx2URL;
$fa-instagram: 36px 36px $spritesURL -128px -6px $spritesx2URL;
$fa-linkedin: 36px 36px $spritesURL -85px -6px $spritesx2URL;
$fa-whatsapp: 36px 36px $spritesURL -43px -6px $spritesx2URL;
$fa-facebook: 36px 36px $spritesURL -2px -6px $spritesx2URL;
$fa-fh-phone: 36px 21px $spritesURL -212px -11px $spritesx2URL;
$fa-fh-whatsapp: 36px 21px $spritesURL -213px -39px $spritesx2URL;
$spritesList: $slider-up slider-up, $slider-right slider-right, $slider-left slider-left, $fa-phone fa-phone, $fa-instagram fa-instagram, $fa-linkedin fa-linkedin, $fa-whatsapp fa-whatsapp, $fa-facebook fa-facebook, $fa-fh-phone fa-fh-phone, $fa-fh-whatsapp fa-fh-whatsapp;
@each $icon in $spritesList {
	$spritesName: nth( $icon, 2 );
	$spritesClass: nth( $icon, 1 );
	.icon-#{$spritesName} {
		@include cssSprite( $spritesClass );
	}
}
