
/* ACF Fields only to user-1 */
/* ----------------------------------------- */
	body {		

		.acf-repeater {
			.acf-row {
				&:nth-child(2n) {
					> * {
						border-top: 1px solid gray;
						border-bottom: 1px solid gray;
					}
					> .acf-fields, > .acf-row-handle {
						background-color: #f4f4f4;
					}
				}
			}
		}
		// #toplevel_page_edit-post_type-acf-field-group {
		// 	display: none;
		// }
		
		&.user-1 {
			#toplevel_page_edit-post_type-acf-field-group {
				display: block !important;
			}
		}
	}
/* ----------------------------------------- ACF Fields only to user-1 */		

/** Hide Updates **/
tr[data-slug="wpml-multilingual-cms"] + .plugin-update-tr,
tr.plugin-update-tr.essb-plugin-update,	
	{
		display: none !important;
	}	
/** Hide Updates **/
