@import "bootstrap/functions";
@import "variables";

body.login {
  background: url('../images/bg-parallax-frame.jpg') repeat-x bottom center;
  display: flex;
  
  
  #wp-submit {
      background-color: theme-color('primary');
      border: 1px solid darken(theme-color('primary'), 5%) !important;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      transition: 250ms ease all;

    &:hover {
      background-color: darken(theme-color('primary'), 10%) !important;
    }
  }

  #nav, #backtoblog {
    text-align: center;
    a {
      color: white;
    }
  }
}
