body.login{background:url("../images/bg-parallax-frame.jpg") repeat-x bottom center;display:-webkit-box;display:flex}body.login #wp-submit{background-color:#fb8035;border:1px solid #fb701c !important;box-shadow:none;text-shadow:none;border-radius:0;-webkit-transition:250ms ease all;transition:250ms ease all}body.login #wp-submit:hover{background-color:#f86105 !important}body.login #nav,body.login #backtoblog{text-align:center}body.login #nav a,body.login #backtoblog a{color:white}
/*# sourceMappingURL=login-style.css.map */