/** Base **/

    .pos {
        &-relative {
            position: relative;
        }
        &-absolute {
            position: absolute;
        }
    }
    .transition {
        &-parallax {
            transition: 1s ease all;
        }
        &-default {
            transition: 250ms ease-in-out all;
        }
    }

    .bg-cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
/** Base **/


/** Icons **/
    
    .pre-icon-fa-phone {
        a {
            display: flex !important;
            align-items: center;
            &:after { 
                content: "";
                display: inline-block;
                @extend .icon-fa-fh-phone; 
            }
        }        
    }

    
    .pre-icon-fa-whatsapp {
        a {
            display: flex !important;
            align-items: center;
            &:after { 
                content: "";
                display: inline-block;
                @extend .icon-fa-fh-whatsapp; 
            }
        }        
    }


/** Icons **/

body {
    position: relative;
    main {
        background-color: white;
    }
    &.home {
        background-color: #312108;
        color: white;
        main {
            background-color: transparent;
        }
    }
    
    &.single-portfolio, &.single-post {
        .pageheader {
            .title {
                font-weight: bold !important;
                font-family: 'Rubik', sans-serif;
                color: theme-color('gold');
                text-transform: none !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    &.single-portfolio {
        .pageheader {
            .title {
                line-height: 0.952;                
            }
        }
    }
    
    &.single-post {
        .pageheader {
            .title {
                font-size: $h4-font-size;
            }
        }
        .conteudo * {
            font-family: 'Lora', serif;
        }
    }

    &.category {
        .pageheader {
            .container {
                display: flex;
                flex-direction: column;
                #breadcrumbs {
                    order: 2;
                    margin-top: 15px;
                    a, span {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    &.post-type-archive-servico {
        #breadcrumbs {
            display: none;
        }
        .pageheader {
            margin-bottom: 0 !important;
            .title {
                color: theme-color('primary');
                font-weight: bold !important;
            }
        }
       
        
        .solucoes {
            counter-reset: section;
            .solucao {
                counter-increment: section;                
                // Impares Fundos brancos
                &:nth-of-type(2n + 1) {
                    &:before {
                        background-color: white;
                    }
                    .wrapper {
                        .chamada {
                            color: #4c4c4c;
                        }
                    }
                }
                // Pares
                &:nth-of-type(2n + 2) {
                    .wrapper {
                        .chamada {
                            color: white;
                        }
                    }
                }
                .wrapper {
                    min-height: auto;
                    .chamada {
                        line-height: 1.667;
                    }              
                }
            }
        }
    }
}

/** Type **/    
    .lora {
        font-family: 'Lora', serif;
        font-style: italic;
    }
    .rubik {
        font-family: 'Rubik', sans-serif;
    }
    .open-sans {
        font-family: 'Open Sans', sans-serif;
    }
    .font-weight {
        &-medium {            
            font-weight: 500;            
        }
        &-black {
            font-weight: 900;
        }
    }
/** Type **/


.slick--home {
    // opacity: 0;
    @extend .transition-default;
    &.slick-initialized {
        opacity: 1;
    }
    // position: relative;
    // overflow: hidden;
    .slick-slide {
        min-height: 70vh;
        position: relative;
        &:focus {
            outline: none;
        }
        figure {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            z-index: -1;
            transform-origin: center center;
            mask-image: linear-gradient(rgba(0, 0, 0, 1.0) 70%, transparent 95%, transparent 100%);
        }
        
        a {
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &:hover {
                text-decoration: none;
            }
            p {
                color: white;
            }
        }
        * {
            &:focus {
                outline: none;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        right: calc(50% - 21px);
        bottom: 0;
        z-index: 2;
        &.slick-prev {
            transform: translateX(-60%);
        }
        
        &.slick-next {
            transform: translateX(60%);
        }

    }

    
}

.slider--arrows {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left, &--right {
        color: #fff;
        text-shadow: 1px 1px #666;
        font-size: 3.5rem;
        padding: 0 2rem;
        cursor: pointer;
        transition: transform .5s, opacity .5s;
    }

    &--left:hover {
        opacity: .6;
        transform: translateX(-5px);
    }

    &--right:hover {
        opacity: .6;
        transform: translateX(5px);
    }
}


/** Bases **/
    .bg-cover {
        background-size: cover;
        background-position: center center;
    }
    
    .btn { font-weight: 500; }

    .line {
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 4px;
            margin-top: .4em;  
            margin-bottom: .4em;  
            background-color: theme-color('gold');
            transition: .8s ease-in-out width;
        }
        &--short:after {
            margin-top: .2em;
        }
        &--start:after {
            width: 104px;
        }
    }

    #go-to-top {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: -1;
        opacity: 0;
        transition: 350ms ease all;
        bottom: 15px;
        right: 15px;
        &.active {
            z-index: 1;
            opacity: 1;
        }
    }

/** Bases **/

/** Headers **/
    header#header {
        position: relative;
        z-index: 10;
        transition: 250ms ease all;        
        &:after {
            // content: "";
            width: 0%;
            height: 3px;
            background-color: theme-color('gold');
            display: block;
            transition: 250ms ease all;        
        }
        &:before {
            content: "";
            transition: 250ms ease;        
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.9);
        }
        &.header--fixed {            
            &:before {
                opacity: .99;
            }
            #navmenu {
                border-bottom-color: transparent;
            }
        }
    }
    #header--line {        
        width: 0%;
        height: 3px;
        background-color: theme-color('gold');
        display: block;
        transition: 250ms ease all;
        position: absolute;
        bottom: 0;
    }
    #navbarNav {                
        li {
            width: 100%;
            a {
                @extend .rubik;
                color: white;
                font-size: 14px;
            }

            &.current-menu-item > a, &.current-menu-item > a, a:hover {
                color: theme-color('gold')
            }

            > .dropdown-menu {
                list-style: none;
                display: none;                
                &.show {
                    display: block;
                }
            }

            &.destaque {
                a {                    
                    @include button-variant(theme-color('primary'), theme-color('primary'));
                    color: white;
                    font-weight: 500;
                    padding: 10px 20px !important;
                    margin-top: 13px;
                }
            }

            &.wpml-ls-item {
                width: auto;
                margin-left: 16px;
                margin-bottom: 16px;
                padding-left: 0;
                padding-right: 0;
                &.wpml-ls-current-language {
                    background-color: rgba(#FFFFFF, .75);                    
                    a {
                        border: 1px solid transparent;
                    }
                }
                a {
                    padding: 3px 12px;
                    color: white;
                    border: 1px solid rgba(#FFFFFF, .75);
                    &:hover {
                        color: theme-color('primary');
                    }
                }
                &.active a { color: white !important; }
            }

            &.featured {
                background-color: #33424b;                
            }
        }
    }
    .pageheader {
        padding: em(35) 0;
        border-bottom: 3px solid theme-color('gold');
        &, .container {
            position: relative;
            z-index: 2;
        }
        #breadcrumbs {
            margin-bottom: 6px;
        }

        .title, p {
            margin-bottom: 0;
            font-family: 'Rubik', sans-serif;
        }
        .h4 {
            font-size: rem(18);
        }
        .title {
            font-size: rem(24);
        }
        strong {
            color: theme-color('gold');
        }
        &:before , &:after {
            content: "";
            position: absolute;
            top: -100px;
            left: 0;
            right: 0;
            bottom: 0;
        }
        
        // Gradient
        &:before {}
        &:after {
            z-index: 0;
            background-image: 
                linear-gradient( 0, rgb(255,132,0) 0%, rgba(183,26,37,.7) 100%), 
                url('../images/bg-parallax-satelite.jpg');
            background-blend-mode: multiply;
            @extend .bg-cover;            
        }

    }    

/** Headers **/


/** Footer **/

    .cta_rodape {
        // padding-top: 8rem !important;
        p {
            &:first-of-type {                
                font-size: em(63);
                line-height: 0.9;
            }
            &:nth-of-type(2) {
                line-height: 1;
                margin-top: -0.4em;
                margin-bottom: 0.1em;
                strong {
                    font-weight: 900;
                }
            }
        }
    }

    #footer {        
        p {
            &.mb-4 {
                line-height: 1.203;
            }
        }
    }

    .redes-sociais {
        i {
            background-color: rgba(255,255,255,1);
            border-radius: 50%;
            @extend .transition-default;
            &:hover {
                background-color: rgba(255,255,255,.6);
            }
        }
    }
/** Footer **/

/** Secoes **/    
    .secao {
        opacity: 0;
        transform: translateY(100px);
        
        &--depoimento {
            position: relative;
            background: black;            
            &:before, &:after {
                content: "";
                position: absolute;                
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &:before {
                background-image: linear-gradient( 0, rgb(255,132,0) 0%, rgba(183,26,37,.7) 100%);
                z-index: -1;           
                right: -1px;
            }
            &:after {                
                background: url('../images/bg--depoimentos.jpg');
                z-index: -2;
                opacity: .8;
                background-size: cover;
                background-position: center center;
                overflow: hidden;
            }
            .avatar {
                max-width: 90px;
                position: absolute;
                top: -45px;
                border: 4px solid white;
                left: 50%;
                transform: translateX(-50%);
            }
            .depoimento {
                font-size: em(20);
                p {
                    line-height: 1.6em;
                }
            }
            .responsavel {
                font-size: em(24);
                text-align: right;
            }            
        }
        &--blog {
            article {
                overflow: hidden;
                a {
                    position: relative;
                    overflow: hidden;
                    transition: 350ms ease all;
                    width: 101%;
                    &:before, &:after {
                        content: "";
                        position: absolute;
                        right: -1px;
                        left: -1px;
                        bottom: 0;
                        top: 0;                        
                    }
                    // Transition mask
                    &:before {
                        background: linear-gradient(to top, rgba(0,0,0,.9) 0%,rgba(0,0,0,.6) 40%, rgba(0,0,0,.1) 100%);
                        opacity: 1;
                    }
                    // Full mask
                    &:after {
                        background-color: rgba($color: #000000, $alpha: .9);
                        opacity: 0;
                        z-index: 2;
                        transition: 300ms ease all;
                    }
                    &:hover {
                        text-decoration: none;
                        &:after { opacity: 1; }
                    }
                    .info {
                        position: relative;
                        z-index: 3;
                        .title {
                            font-size: em(16);
                        }
                        .category {
                            font-size: em(11);
                        }
                    }
                }
            }
        }
    }
    .cta_banner_parallax {
        .bg-box {
            p {
                max-width: 515px;
            } 

            h2 {
                max-width: 460px;                
            }
        }        
    }
    
    .galeria-wall {         
        &:not(.slick-slider) {
            column-count: 3;
            column-gap: 20px;
            
            > div {
                display: block;  
                margin-bottom: 20px;          
                @extend .bg-cover;
                
                &:nth-of-type(1), &:nth-of-type(6) {
                    height: 150px;
                }
                
                &:nth-of-type(3), &:nth-of-type(4) {
                    height: 300px;
                }
                
                &:nth-of-type(2), &:nth-of-type(5) {
                    height: 450px;
                }
                
            }
            
        }
        
        .slick-slide {
            height: 50vh;
            @extend .bg-cover;
        }

    }

    .downloads, .solucoes {
        .download, .solucao {
            position: relative;
            &:before {
                background-color: #000000;
                content: "";
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;
            }
            > a, > span  {
                &:before {
                    background-position: center center;
                }
            }
            > a, > span , .wrapper {
                min-height: 455px;                
                text-align: center;
                // margin-left: -15px;
                // margin-right: -15px;
                padding-left: 30px;
                padding-right: 30px;
                
                &:before {
                    @extend .transition-default;
                    content: "";
                    position: absolute;
                    left: 0; right: 0;
                    top: 0; bottom: 0;
                    background-size: cover;
                    opacity: .3;
                }
                & * {
                    position: relative;
                    z-index: 1;
                }
                
                .headline {
                    font-size: 15px;
                    color: theme-color('gold');
                    font-weight: 500;
                }
                .descricao {
                    font-size: 15px;
                }
                &:hover {
                    
                    &:before { opacity: .1; }
                    &, & * {
                        text-decoration: none;
                    }

                }
            }
        }
    }
    
    .related {
        flex-wrap: nowrap;
        justify-content: space-between;
        > * {
            flex: 1;
        }
        &--portfolio {
            article {                
                a {                    
                    position: relative;
                    padding: 30px;
                    text-align: left;
                    height: 100%;
                    @extend .transition-default;
                    * {
                        position: relative;
                        z-index: 1;
                    }
                    &:before {
                        content: '';
                        @extend .transition-default;
                        position: absolute;
                        left: 0; right: 0; top: 0; bottom: 0;
                        background: black;
                        opacity: .73;
                        z-index: 0;
                    }                  

                    &:after {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        @extend .icon-slider-right;
                    }
                    &:hover {
                        text-decoration: none;
                        &:before {
                            opacity: .93;
                        }
                    }
                }
                @include media-breakpoint-down(md) {
                    min-height: 122px;
                }

                &.prev-post a {
                    padding-left: 96px;
                    &:after {
                        left: 30px;
                        transform: rotate(-180deg);
                    }
                }

                &.next-post a {
                    padding-right: 96px;
                    &:after {
                        right: 30px;
                    }
                }
            }
        } // &--portfolio

        &--servico {
            .row {
                margin-left: 0;
                margin-right: 0;
            }
            .descricao {
                color: #afbcc5;
            }
            article {
                background-color: rgba($color: white, $alpha: .08);
                border: .5px solid lightgray;
                background-blend-mode: multiply;
                @extend .transition-default;
                &:hover {
                    background-color: rgba($color: white, $alpha: .18);
                }
                a {
                    h2, p {
                        color: white;
                    }
                    .chamada {
                        line-height: 1.867;                          
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }


    #search-form {
        input {
            &[type=search] {
                border: 1px solid #f2f2f2;
                outline: none;
                width: 100%;
                font-size: 15px;
                padding: 8px 76px 8px 16px;
            }
        }

        .input-group {
            position: relative;
            button[type=submit] {
                position: absolute;
                right: 0;
                top: 0;
                width: 60px;
                bottom: 0;
                background-color: theme-color('primary');
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url('../images/bg-lupa.png');
                appearance: none;
                border: 0;
                @extend .transition-default;
                &:hover {
                    background-color: rgba($color: theme-color('primary'), $alpha: .7);
                    cursor: pointer;
                }
            }
        }
    }
    .widget_media_image {
        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }        
    }
    .widget_categories {        
        ul {
            padding: 0;
            margin: 2em 0;
            li { 
                list-style: none;
                margin-bottom: 0.5em;
                a {
                    font-family: 'Rubik', sans-serif;
                    font-weight: bold;
                    color: #b2b2b2;

                    &:hover {
                        color: theme-color('gold');
                    }
                }
            }
        }
    }
/** Secoes **/

/** Slicks **/
    
    .append-arrows {
        .content {
            float: left;
        }
        .arrows {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0.5em;
        }
    }    

    .slick {
        &--sameheight {
            .slick-track{
                display: flex;
            
                .slick-slide{
                    display: flex;
                    height: auto;
                    flex-direction: column;
                }
            }
        }
        &--carousel {
            &--basic {
                
                .slick-slide {                    
                    border-left: .5px solid #59483a;                    
                    border-right: .5px solid #59483a;
                    border-top: 1px solid #59483a;
                    border-bottom: 1px solid #59483a;
                    background-color: rgba($color: #000000, $alpha: .4);
                    height: 100%;
                    padding: em(50);
                    text-align: center;
                    justify-content: center;

                    a {
                        color: white;
                        text-decoration: none;
                        opacity: 1;
                        @extend .transition-default;
                        &:hover {
                            text-decoration: none;
                            opacity: .85;
                        }
                    }

                    // Div for align images
                    div {
                        height: 60px;
                    }
                }
            }

            &--testimonail {
                .slick-slide {
                    border: 1px solid #59483a;    
                    border-bottom: 0;                
                    background-color: rgba($color: #000000, $alpha: .4);
                    height: 100%;
                    padding: em(24);
                    position: relative;
                    margin-bottom: 70px;
                                        
                    &:after {                                                
                        background-image: url('../images/triangle.svg');
                        background-position: right top;
                        background-repeat: no-repeat;
                        content: "";
                        height: 48px;
                        width: calc(100% + 2px);
                        position: absolute;
                        right: -1px;
                        bottom: -46px;
                    }
                    
                    p {
                        margin-bottom: .5rem;
                        &:not(.h4) {                            
                            font-size: em(16);
                        }
                        
                        &.text-uppercase {
                            line-height: 1.333;
                        }

                        &.open-sans {
                            line-height: 1.867;
                        }

                        &:last-of-type {
                            margin: 0;
                        }
                          
                    }
                      
                }
            }

            .slick-slide {
                &:focus {
                    outline: none;
                }
            }
            
        }
        
        &-arrow {            
            color: transparent;
            border: 0;
            appearance: none !important;
            background-color: transparent;
            margin-left: 11px;
            overflow: hidden;
            opacity: .65;            
            cursor: pointer;
            @extend .transition-default;

            &:focus {
                outline: none;
            }

            &:hover {
                opacity: 1;
            }
            &.slick-disabled {
                cursor: default;
                opacity: .2;
            }
        }
    }    

    
    .slick-dots {
        padding: 0;
        margin: .5rem 0 1rem;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;                    
            button { display: none; }
            &:before {
                content: '';
                width: 12px;
                height: 12px;
                display: block;
                background-color: rgba(theme-color('gold'), 0.3);
                border: 1px solid #59483a;
                border-radius: 6px;
                margin-right: 6px;
                @extend .transition-default;
            }

            &:last-of-type:before { margin-right: 0;}
            &.slick-active:before { background-color: theme-color('gold'); }
        }
    }

    .slick-dots--light {
        .slick-dots {
            li {
                &:before {
                    background-color: white;
                    border-color: theme-color('primary');
                }
                &.slick-active:before { background-color: theme-color('primary'); }
            }
        }
    }

    .slick-until-sm {
        text-align: center;
        li {
            list-style: none;
            display: inline-block;            
        }
    }
/** Slicks **/

/** Pages **/
    

    // Agencia
    body.page-template-page-agencia main {     
        .secao_02 {
            // background-position: left center;            
        }
        .secao_02, .secao_03 {
            .h2, h2 {
                // font-weight: 300;
            }
        }
    }

    body.page-template-page-contato {
        main {
            background-color: transparent;
        }
        .pageheader {
            border-bottom: 0;
            margin-bottom: 0 !important;
            &:before, &:after {
                display: none;
            }
        }
        
        .hentry {
            max-width: 615px;
            #contato-0c81b3e378266f77465b {

                form#conversion-form-contato-0c81b3e378266f77465b {
                    
                    .field {
                        label {
                            color: theme-color('primary') !important;
                            font-weight: bold !important;
                            font-size: 15px !important;
                            @extend .rubik;
                        }
                    }
                }

            }
        }
        .wpcf7-response-output {
            background-color: rgba($color: #FFFFFF, $alpha: 0.7);
        }        
    }
/** Pages **/

#breadcrumbs {
    a, span {
        font-family: 'Rubik', sans-serif;
        color: white;
        font-weight: 500;
        // font-size: 24px;        
    }
    a {
        opacity: 1;
        @extend .transition-default;
        &:hover {
            text-decoration: none;
            opacity: .75;
        }
    }
}

/** Cases **/
.page-template-page-cases, .post-type-archive-portfolio {
    #breadcrumbs {
        display: none;
    }
    .downloads {
        .download {
            a {
                min-height: 300px;
            }
        }
    }
}    
/** Cases **/


/** Single **/
    body.single {
        .hentry {
            h2 {                
                color: #4c4c4c;
                font-size: em(24);
            }
        }
        &-post {
            .related {
                .row {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
        
        &.single-servico {
            .pageheader {
                #breadcrumbs {
                    display: none;
                }
                .title {
                    font-weight: bold !important;
                    color: theme-color('primary');
                }
            }
        }
    }
/** Single **/

/** Blog **/
    article {
        &.content-post {
            h2 {
                color: #4c4c4c;
            }
            p:not(.h6) {
                font-size: rem(18);
                color: #4c4c4c;
                font-family: 'Lora', serif;        
            }
            
            a.media {
                @extend .transition-default;
                opacity: 1;
                &:hover {
                    opacity: .7;                    
                    &, & * {
                        text-decoration: none;
                    }
                }
            }
        }
    }
/** Blog **/


/** Background **/    
    .mousemove {
        transition: none !important;
    }
    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -10;
        overflow: hidden;
        background-color: #27180a;
        
        &--grid {
            position: relative;
            width: 100%;
            height: 100%;            
        }

        &--full {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        
        &--fixed {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &--default {
            position: absolute;
            left: calc((100% - 1920px)/2);
            width: 1920px;
            background-size: contain;
            background-repeat: no-repeat;
            transition: 1s ease all;          
        }

        &--capacete {
            top: 0;
            width: 1920px;
            height: 826px;
            // background-image: url('../images/bg-astronauta-rosto.jpg');
            background-position: left top;
        }

        &--planetinha {
            top: 0;
            width: 1920px;
            height: 333px;
            // background-image: url('../images/png/luz-planeta-2.png');
            background-position: right top;            
        }

        &--satelite {                        
            top: 826px;
            height: 949px;
            // background-image: url('../images/png/nave-1.png');
            background-position: left center;            
        }

        &--astronauta-right {
            top: 1400px;
            height: 1224px;
            z-index: 2;
            // background-image: url('../images/png/astronauta-caindo.png');
            background-position: right center;                
        }

        &--astronauta-left {            
            top: 2000px;
            height: 1037px;
            z-index: 2;
            // background-image: url('../images/png/astronauta-em-pe.png');
            background-position: left center;
        }

        &--rocket {
            bottom: 400px;
            z-index: 2;
            height: 863px;
            // background-image: url('../images/png/nave.png');
            background-position: right center;
        }

        &--clouds {
            position: absolute;
            left: -40px;
            right: -40px;
            bottom: -40px;            
            height: 623px;
            z-index: 4;
            background-repeat: no-repeat;
            background-position: center bottom;
            // background-image: url('../images/nuvem-2.png');
            background-size: cover;
        }

    }
/** Background **/


/* Teste */
/* ----------------------------------------- */
    #controls {
        position: fixed;
        right: 0;
        top: 50%;
    }    
    .sumir {
        opacity: 0 !important;
        transition: 350ms ease all;
    }
/* ----------------------------------------- Teste */

/* Hentry */
/* ----------------------------------------- */
    .hentry {
        h1,h2,h3,h4,h5,h6 {
            margin-top: 1em;
            margin-bottom: .6em;
        }
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }
/* ----------------------------------------- Hentry */


/* Forms */
/* ----------------------------------------- */

.wpcf7-form, .my-forms {
    width: 100%;
    margin-bottom: 45px;
    label {
        color: theme-color('primary') !important;
        font-weight: bold !important;
        font-size: 15px !important;
        margin-bottom: 4px;
        margin-top: 1em;
        @extend .rubik;
    }
    input:not([type=submit]), textarea {
        width: 100%;
        padding: 14px 20px;
        border: 0;
        box-shadow: none;
        border-radius: 3px;                
    }
    input[type=submit] {
        max-width: 190px; 
        margin: 0 auto;           
        display: block;
        @include media-breakpoint-up(md) {    
            margin-right: 0;
            min-width: 240px;
            max-width: 240px;
            width: 100%;
        }
    }
    .col-md-12 {
        + p {
            width: 100%;
            margin: 15px;
        }
    }
}
/* ----------------------------------------- Forms */

.sidebar-title {
    margin-top: 1.5rem;
}

span.ljoptimizer {
	cursor: pointer; /* añade el cursor que simula un enlace */
}

.widget_recent_entries ul {
	padding: 0;
	list-style: none;
}

.widget_recent_entries ul li {
	margin-bottom: .5rem;
}

