@include media-breakpoint-up(lg) {
    .cta_banner_parallax {
        .banner {
            position: absolute;
            right: 0;
        }
    }

    .pageheader {
        padding: em(55) 0;
        .title {
            font-size: rem(63);
            line-height: normal;
        }
        &--expandido {
            min-height: 515px;
        }
    }
    
    body {
        &.single-post {
            .pageheader {
                .title {
                    font-size: $h2-font-size;
                }
            }
        }

        &:not(.single-post) {        
            .pageheader {
                .title {
                    letter-spacing: -2px;
                }            
            }
        }

    }    
    

    /** Home **/
        .slick--home {
            .slick-slide {
                h2 {
                    font-size: em(63);
                    font-weight: bold;
                }
            }
        }
    /** Home **/
    
    /** Pages **/
    
        // Agencia
        body.page-template-page-agencia main {
            .secao_01, .secao_02, .secao_03 {
                h2 {
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: rem(24);
                    line-height: 1.458;
                }
            }
        }

        
    

    /** Pages **/

}