@include media-breakpoint-up(md) {		
    .slick--carousel {
        &--testimonail {
            margin-left: -10px;
            .slick-slide {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
    
}

