@include media-breakpoint-down(sm) {

    .secao--blog {
        article {
            a {
                &:hover, &:focus {
                    &:before {
                        background: rgba($color: #000000, $alpha: .7);
                    }
                }
            }
        }
    }

    .cta_rodape {
        font-size: 8px;
    }
}
