@include media-breakpoint-up(xl) {	

    body.post-type-archive-servico {
        .solucoes {
            counter-reset: section;
            .solucao {
                counter-increment: section;

                .container {
                    padding-left: 220px;
                    position: relative;

                    &:before {
                        content: '0'counter(section)'.';
                        position: absolute;
                        left: 0;
                        top: -40px;                        
                        font-size: 116px;
                        font-family: "Rubik";
                        font-weight: bold;
                        color: rgba(204, 204, 204, 0.502);                          
                    }
                }

                // &:nth-of-type(2n+2) {
                //     .container {
                //         &:before {
                //             opacity: .5;
                //         }
                //     }
                // }
            }
        }
    }

}