@include media-breakpoint-down(md) {

    body {        
        &.menu {
            &--visible { 
                position: fixed;
                left: 0;
                top: 0;
                right: 0;

                #navbarNav {
                    transform: translateX(0);
                    opacity: 1;
                }

                header#header {
                    z-index: initial;
                    .navbar-fire {
                        z-index: 999999;
                    }
                }
                #main-content {
                    opacity: 0;
                }
            }
        }
        &.page-template-page-agencia {
            .secao_04 {
                h2 {
                    font-size: 2rem;
                    text-transform: none !important;
                }
            }
        }

        &.blog {
            .col-lg-9 {
                img {
                    max-width: 75px;
                    margin: 0 !important;
                    margin-left: 1rem !important;
                    margin-bottom: 1rem !important;
                }
                h2 {
                    font-size: 1rem;
                    line-height: 1.4rem;
                }
                .media-body {
                    order: -1;
                }
                .excerpt {
                    display: none;
                }
            }
        }

        &.single-post {
            #post-relacionados {
                article {
                    padding-bottom: 24px !important;
                    a {
                        background-size: 75px auto;
                        background-position: right top;
                        padding: 0 95px 0 0 !important;
                        &:before {
                            display: none;
                        }
                        p {
                            &.category {
                                display: none;
                            }
                        }
                        h2 {
                            color: #4c4c4c !important;
                            font-size: 1.1rem !important;
                            line-height: 1.4rem !important;
                        }
                        .info {
                            display: flex;
                            flex-direction: column;
                            padding-top: 0 !important;
                        }
                        .author {
                            order: 10;
                            font-size: 12px;
                        }
                        
                    }
                }
            }
        }
    }

    .navbar {
        padding: 16px 0;
        &-brand {
            // position: relative;
            // z-index: 10;
        }
        &-toggler {
            z-index: 10;
        }        
    }

    #navbarNav {            
        position: fixed;
        transition: 450ms ease transform !important;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        transform: translateX(-100%);
        z-index: 999;
        top: 0;
        left: 0;
        // width: calc(100vw - 45px);
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        background: #365162;

        &:before {
            content: "";
            width: 94px;
            height: 56px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            margin: 25px 15px;
        }
        

        // Lista de items do Menu
        .navbar-nav {            
            margin-bottom: 25vh;
            .dropdown-menu {
                padding-left: 14px 16px;
            }
            li {
                border-top: 1px solid #365162;                    
                order: 2;
                a {
                    padding: 16px;
                    display: inline-block;
                }
                &.wpml-ls-item a {
                    padding: 3px 12px;
                }
                .dropdown-menu {
                    padding-left: 16px;
                }
                &.wpml-ls-item {
                    order : 1;
                }
                &.destaque {
                    border-top: 0;
                    display: flex;
                    justify-content: center;
                    a {
                        margin-top: 0;
                    }
                }
                &.menu-item-has-children {
                    > a {
                        &:after {
                            content: ">";
                            font-family: 'Rubik', sans-serif;
                            font-size: 19px;
                            color: #99a8b1;
                            transform: rotate(90deg);
                            display: inline-block;
                            position: relative;
                            top: 2px;
                            left: 7px;
                        }
                    }
                }
            }
        }
    }
    
}

@include media-breakpoint-up(md) {    
    
    .navbar-fire {
        display: none !important;
    }
    .navbar {
        border-bottom: 2px solid rgba($color: #4b3920, $alpha: .2);
        .navbar-nav {
            a {
                transition: 250ms ease-in-out all;
                font-size: 16px !important;
                &:hover {
                    color: theme-color('gold');
                    text-decoration: none;
                }            
            }
            > li {
                &:not(.destaque) > a {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    text-align: center;
                }            
            }
            li {
                &.wpml-ls-item {
                    max-height: 29px;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    margin-bottom: auto;
                }
            }
        }
    }
    // Dropdown on Hover    
    .dropdown {
        &:hover {
            > .dropdown-menu {
                display: block !important;                
            }
        }
        > .dropdown-menu {
            padding: 0;
            position: relative;
            z-index: 2;
            background-color: rgba($color: #15242e, $alpha: .92);
            top: 100%;
            margin-top: -1px;

            li {
                list-style: none;
                a {
                    padding: 12px 50px 12px 30px;
                    display: block;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;                    
                }
            }
        }
    }

    body {
        &.single-portfolio, &.single-post {
            .pageheader {
                .title {
                    max-width: 80%;                    
                }
            }
        }
        
    } 

}